<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rent.Data.Properties.Settings.RentConnectionString" connectionString="Data Source=LAPTOP-P778C2Q6\SQLEXPRESS;Initial Catalog=Rent;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
